<!DOCTYPE html>
<html>
<head>
    <title>Video Player</title>
</head>
<body>
    <video width="320" height="180" controls>
        <source src="{{ url_for('static', filename='uploads/osinachi.mp4') }}" type="video/mp4">
        Your browser does not support the video tag.
    </video>

    <video width="320" height="180" controls>
        <source src="{{ url_for('static', filename='uploads/cool.mp4') }}" type="video/mp4">
        Your browser does not support the video tag.
    </video>

    <video width="320" height="180" controls>
        <source src="{{ url_for('static', filename='uploads/Encanto_(2021).mp4') }}" type="video/mp4">
        Your browser does not support the video tag.
    </video>

    <video width="320" height="180" controls>
        <source src="{{ url_for('static', filename='uploads/the-enemy.mp4') }}" type="video/mp4">
        Your browser does not support the video tag.
    </video>

    <video width="320" height="180" controls>
        <source src="{{ url_for('static', filename='uploads/Man_of_Tai_Chi_.mp4') }}" type="video/mp4">
        Your browser does not support the video tag.
    </video>

</body>
</html>